html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

#board{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile:hover{
    cursor: pointer
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 480px) and (orientation: portrait){

    #board{
        height: 100vw;
        width: 100vw;
    }

    .tile{
        font-size: 20px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 480px) and (orientation: portrait){

    #board{
        height: 100vw;
        width: 100vw;
    }

    .tile{
        font-size: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) and (orientation: landscape){

    #board{
        height: 80vw;
        width: 80vw;
    }

    .tile{
        font-size: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #board{
        height: 80vh;
        width: 80vh;
    }

    .tile{
        font-size: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    
}